version: "3.3"
services:
    database:
      restart: always
      image: postgres:12 # use latest official postgres version
      volumes:
        - database-data:/var/lib/paw01project/postgresql/data/
      environment:
        - POSTGRES_USER=test
        - POSTGRES_PASSWORD=passw0rd
        - POSTGRES_DB=apidb
      ports:
        - "5432:5432"
      networks:
        - teste

    projecto:
        container_name: 'Projecto_PAW'
        restart: unless-stopped
        depends_on:
            - database
        build:
            context: '.'
            dockerfile: 'Dockerfile'
        volumes:
            - './:/app'
            - /app/node_modules
        ports:
            - '8080:8080'
        environment: 
            - CHOKIDAR_USEPOLLING=true
        networks:
            - teste
    
    backend:
        container_name: 'Projecto_PAW_backend'
        restart: unless-stopped
        build:
            context: './src/backend'
            dockerfile: 'Dockerfile'
        volumes:
            - './:/backend/app'
            - /app/node_modules
        ports:
            - '8081:8081'
        depends_on:
            - database
        environment: 
            WAIT_HOSTS: postgres:5433
        networks:
            - teste
        links:
            - database

networks:
    teste:
        driver: bridge

volumes:
  database-data: # named volumes can be managed easier using docker-compose